/**
 * @fileOverview antd, 阿里样式需要统一设置为 m-ant 开头
 * @date 2023-4-19
 * @author poohlaha
 */
// input
.m-ant-input,
.m-ant-input-icon {
  .ant-input-prefix svg {
    color: @color_svg;
  }

  .ant-input-suffix {
    .anticon-eye svg {
      path:not(:nth-child(2)) {
        fill: @theme!important;
      }

      path:nth-child(2) {
        fill: none !important;
      }
    }
  }

  &.ant-input-outlined:hover,
  &.ant-input-outlined:focus-within {
    border-color: @theme;
    box-shadow: unset;
  }
}

// menu
.m-ant-menu {
  border-inline-end: unset !important;

  .ant-menu-sub.ant-menu-inline {
    background: unset !important;
  }

  .ant-menu-submenu-title:active {
    background: @theme_to;
  }

  .ant-menu-submenu-title:not(.ant-menu-item-disabled):focus-visible {
    outline: unset !important;
  }

  .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: @theme;
  }

  .ant-menu-item-only-child {
    outline: unset !important;
    outline-offset: 0 !important;
  }

  .ant-menu-item:not(.ant-menu-item-selected):active {
    background: @theme_to!important;
  }

  .ant-menu-item-selected {
    background: @theme;
    color: #ffffff;
  }
}

// pagination
.m-ant-pagination {
  .ant-pagination-item-active {
    border-color: @theme;

    a {
      color: @theme;
    }
  }

  .ant-pagination-total-text {
    display: flex;
    align-items: center;
  }

  .ant-pagination-jump-next,
  .ant-pagination-jump-prev {
    .ant-pagination-item-link-icon {
      color: @theme;
    }
  }
}

// select
.m-ant-select,
.m-ant-pagination .ant-select {
  &:not(.ant-select-disabled):hover {
    .ant-select-selector {
      border-color: @theme!important;
    }
  }

  &.ant-select-focused:not(.ant-select-disabled) {
    .ant-select-selector {
      border-color: @theme!important;
      box-shadow: unset !important;
    }
  }

  &.ant-select-dropdown,
  .ant-select-dropdown {
    .rc-virtual-list {
      .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: @theme_to;
      }
    }
  }
}

// button
.m-ant-button,
.m-ant-modal .ant-modal-footer button {
  &:not(.disabled).ant-btn-primary,
  &:not(.disabled).ant-btn-primary:hover {
    background: @theme;
    box-shadow: unset !important;
  }

  &:not(.disabled).ant-btn-default:hover {
    border-color: @theme;
    box-shadow: unset !important;
    color: @theme;
  }
}

// table
.m-ant-table {
  .ant-table-thead .ant-table-cell {
    background: @background_table_head!important;
  }

  .ant-table-tbody {
    tr {
      cursor: pointer;
    }

    .ant-table-cell {
      button.ant-table-row-expand-icon {
        &:hover,
        &:focus-within,
        &:focus {
          border-color: @theme;
          color: @theme;
        }
      }
    }
  }
}

.m-ant-modal {
  .ant-modal-content {
    padding: 0 !important;

    .ant-modal-header {
      padding: 20px 24px 0 24px;
    }

    .ant-modal-body {
      padding: 20px 24px;
      max-height: 500px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .ant-modal-footer {
      padding: 20px 24px;
    }
  }
}

// datepicker range
.m-ant-picker-range {
  &:hover,
  &:focus,
  &:focus-within {
    border-color: @theme;
  }

  .ant-picker-active-bar {
    background: @theme;
  }
}

// datepicker dropdown
.m-ant-picker-dropdown {
  .ant-picker-date-panel,
  .ant-picker-year-panel,
  .ant-picker-month-panel {
    .ant-picker-cell-today {
      .ant-picker-cell-inner {
        &:before {
          border: @border_theme!important;
        }
      }
    }

    .ant-picker-header-view {
      button {
        &:hover {
          color: @theme;
        }
      }
    }

    .ant-picker-body {
      .ant-picker-cell-in-range {
        &:before {
          background: @theme_to;
        }
      }

      .ant-picker-cell-range-start,
      .ant-picker-cell-range-end {
        &:before {
          background: @theme_to;
        }

        .ant-picker-cell-inner {
          background: @theme!important;
        }
      }
    }
  }
}
